In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
coffe = pd.read_csv("coffee.csv") #import

In [28]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [29]:
results = pd.read_parquet("results.parquet") #olimpik

In [30]:
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [31]:
olympics_data = pd.read_excel("olympics-data.xlsx")

In [32]:
#Accessing Data With Pandas

In [33]:
print(coffe)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [34]:
display(coffe)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [35]:
coffe.head()
print("\n")
coffe.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [36]:
coffe.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [37]:
coffe.sample(10,random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

In [38]:
#loc and iloc

coffe.loc[#Rows",#Columns]

In [39]:
coffe.loc[5:8,"Day"] # between day

5    Wednesday
6     Thursday
7     Thursday
8       Friday
Name: Day, dtype: object

In [40]:
coffe.loc[:8,["Day","Units Sold"]] # using labels

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45

In [41]:
coffe.iloc[0:5,[0,2]]

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35

In [42]:
coffe.index =coffe["Day"]

In [43]:
coffe.index

Index(['Monday', 'Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Wednesday',
       'Thursday', 'Thursday', 'Friday', 'Friday', 'Saturday', 'Saturday',
       'Sunday', 'Sunday'],
      dtype='object', name='Day')

In [44]:
coffe.head() # changing index 0,1,2,3,4... to Day

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [45]:
coffe.loc["Monday"]

           Day Coffee Type  Units Sold
Day
Monday  Monday    Espresso          25
Monday  Monday       Latte          15

In [46]:
coffe.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [47]:
coffe.loc[1,"Units Sold"] = 10
coffe.head()           #changing value

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso        25.0
Monday        Monday       Latte        15.0
Tuesday      Tuesday    Espresso        30.0
Tuesday      Tuesday       Latte        20.0
Wednesday  Wednesday    Espresso        35.0

In [48]:
coffe.at[0,"Units Sold"]
coffe.head()

KeyError: 0

In [ ]:
coffe["Day"]

In [ ]:
coffe.sort_values("Units Sold",ascending = True)

In [ ]:
coffe.sort_values(["Units Sold","Coffee Type"],ascending = [0,1])

In [ ]:
for index,row in coffe.iterrows():
    print(index),
    print(row),
    print("\n")

In [ ]:
#Filtering Data

In [ ]:
bios = pd.read_csv("bios.csv")

In [ ]:
bios.head()

In [ ]:
bios.tail()

In [ ]:
bios.info()

In [ ]:
bios.loc[bios["height_cm"]>215,["name","height_cm"]] #birden çok filtreleme

In [ ]:
bios[bios["height_cm"]>215][["name","height_cm"]]

In [ ]:
bios[(bios["height_cm"] > 215) & (bios["born_country"]=='USA')]

In [ ]:
bios[bios['name'].str.contains("keith",case=False)]

In [ ]:
bios[bios['name'].str.contains("keith|patrick",case=False)] # contains patrick orr  keith ???

In [ ]:
bios[bios['name'].str.contains("keith|patrick",case=False,regex=False)] #regex falsae means : keith|patrick / regex True means  =  keith OR patrick

In [ ]:
bios[bios["born_country"].isin(["USA"])]

In [ ]:
bios[bios["born_country"].isin(["USA","FRA","GBR"]) & (bios["name"].str.contains("Keith"))]

In [ ]:
bios.query('born_country == "USA" and born_city =="Seattle"')

In [ ]:
coffe['price'] = 4.99

In [ ]:
coffe["price"]

In [ ]:
coffe["new_price"] = np.where(coffe['Coffee Type'] =='Espresso',3.99,5.99)

In [ ]:
coffe.head()

In [ ]:
coffe.drop(columns=['price'],inplace=True)

In [ ]:
coffe

In [ ]:
coffee_new = coffe.copy()
coffee_new['price'] = 4.99

In [ ]:
coffe

In [ ]:
coffe = coffe[['Day','Coffee Type','Units Sold','new_price']]

In [ ]:
coffe['revenue'] = coffe['Units Sold']*coffe['new_price']

In [ ]:
coffe.head()

In [ ]:
coffe.rename(columns={'new_price':'price'},inplace=True)

In [ ]:
coffe.head()

In [ ]:
#Adding Removing Columns

In [ ]:
bios_new = bios.copy()

In [ ]:
bios_new['First Name'] = bios_new['name'].str.split().str[0]

In [ ]:
bios_new.head()

In [ ]:
bios_new.query('`First Name` == "Keith"')

In [ ]:
bios_new.info()

In [ ]:
#Changing type

In [ ]:
bios_new['born_datetime'] = pd.to_datetime(bios_new["born_date"])

In [ ]:
bios_new

In [ ]:
bios.info()

In [ ]:
bios_new['born_year'] = bios_new["born_datetime"].dt.year

In [ ]:
bios_new[["name","born_year"]]

In [ ]:
bios_new.to_csv("bios_new.csv",index=False)

In [ ]:
bios["height_category"] = bios["height_cm"].apply(lambda x: 'Short' if x<165 else('Avarage' if x<185 else 'Tall'))

In [ ]:
bios.head()

In [ ]:
def categorize_athlete(row):
    if row["height_cm"] <175 and row["weight_kg"]<70:
        return "Lightweight"
    elif row["height_cm"] < 185 or row["weight_kg"]<=80:
        return "Middleweight"
    else:
        return "Heavyweight"
bios["Category"] = bios.apply(categorize_athlete,axis=1)

In [ ]:
bios.head()

In [ ]:
nocs = pd.read_csv("noc_regions.csv")

In [ ]:
nocs.head()

In [ ]:
bios_new = pd.merge(bios,nocs,left_on="born_country",right_on="NOC",how="inner",suffixes=["bios","nocdf"])

In [ ]:
bios_new.rename(columns={"region":"born_country_full"},inplace=True)

In [ ]:
bios_new.head()

In [ ]:
bios_new.head()

In [ ]:
bios_new[bios_new["NOCbios"] != bios_new["born_country_full"]]

In [ ]:
combined_df = pd.merge(results, bios,on="athlete_id",how='left')

In [59]:
coffe.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso        25.0
Monday        Monday       Latte        15.0
Tuesday      Tuesday    Espresso        30.0
Tuesday      Tuesday       Latte        20.0
Wednesday  Wednesday    Espresso        35.0

In [61]:
coffe = pd.read_csv("coffee.csv") #import

In [62]:
coffe.loc[[2,3],'Units Sold']= np.nan

In [63]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso        25.0
1     Monday       Latte        15.0
2    Tuesday    Espresso         NaN
3    Tuesday       Latte         NaN
4  Wednesday    Espresso        35.0

In [64]:
coffe.isna().sum()

Day            0
Coffee Type    0
Units Sold     2
dtype: int64

In [65]:
coffe = coffe.fillna(coffe['Units Sold'].interpolate())

In [70]:
coffe['Units Sold'] = coffe['Units Sold'].interpolate(limit_direction="both")

In [71]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso   25.000000
1     Monday       Latte   15.000000
2    Tuesday    Espresso   21.666667
3    Tuesday       Latte   28.333333
4  Wednesday    Espresso   35.000000

In [73]:
coffe["Units Sold"] = coffe["Units Sold"].interpolate()

In [75]:
coffe["price"] = np.where(coffe['Coffee Type'] =='Espresso',3.99,5.99)

In [76]:
coffe["revenue"] = coffe["Units Sold"] * coffe["price"]

In [77]:
coffe

          Day Coffee Type  Units Sold  price     revenue
0      Monday    Espresso   25.000000   3.99   99.750000
1      Monday       Latte   15.000000   5.99   89.850000
2     Tuesday    Espresso   21.666667   3.99   86.450000
3     Tuesday       Latte   28.333333   5.99  169.716667
4   Wednesday    Espresso   35.000000   3.99  139.650000
5   Wednesday       Latte   25.000000   5.99  149.750000
6    Thursday    Espresso   40.000000   3.99  159.600000
7    Thursday       Latte   30.000000   5.99  179.700000
8      Friday    Espresso   45.000000   3.99  179.550000
9      Friday       Latte   35.000000   5.99  209.650000
10   Saturday    Espresso   45.000000   3.99  179.550000
11   Saturday       Latte   35.000000   5.99  209.650000
12     Sunday    Espresso   45.000000   3.99  179.550000
13     Sunday       Latte   35.000000   5.99  209.650000

In [79]:
coffe.dropna(subset=["Units Sold"],inplace=True)

In [80]:
coffe

          Day Coffee Type  Units Sold  price     revenue
0      Monday    Espresso   25.000000   3.99   99.750000
1      Monday       Latte   15.000000   5.99   89.850000
2     Tuesday    Espresso   21.666667   3.99   86.450000
3     Tuesday       Latte   28.333333   5.99  169.716667
4   Wednesday    Espresso   35.000000   3.99  139.650000
5   Wednesday       Latte   25.000000   5.99  149.750000
6    Thursday    Espresso   40.000000   3.99  159.600000
7    Thursday       Latte   30.000000   5.99  179.700000
8      Friday    Espresso   45.000000   3.99  179.550000
9      Friday       Latte   35.000000   5.99  209.650000
10   Saturday    Espresso   45.000000   3.99  179.550000
11   Saturday       Latte   35.000000   5.99  209.650000
12     Sunday    Espresso   45.000000   3.99  179.550000
13     Sunday       Latte   35.000000   5.99  209.650000

In [81]:
coffe[coffe["Units Sold"].isna()]

Empty DataFrame
Columns: [Day, Coffee Type, Units Sold, price, revenue]
Index: []