In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#Datayı ele almamızı sağlamaktadır

In [4]:
grades = {"Atil":50,"James":60,"Lars":30}

In [5]:
pd.Series(grades)# bir seri yaratır ama biz genel olarak dataFrame ile çalışacağız

Atil     50
James    60
Lars     30
dtype: int64

In [6]:
names = ["Atil","James","Lars"]
grades = [50,60,70]

In [7]:
pd.Series(names)

0     Atil
1    James
2     Lars
dtype: object

In [8]:
pd.Series(grades)

0    50
1    60
2    70
dtype: int64

In [9]:
pd.Series(names,grades)

50     Atil
60    James
70     Lars
dtype: object

In [10]:
pd.Series(data =grades,index=names)

Atil     50
James    60
Lars     70
dtype: int64

In [11]:
#With numpy

In [12]:
numpy_array = np.array([50,40,30,20])

In [13]:
pd.Series(numpy_array)

0    50
1    40
2    30
3    20
dtype: int64

In [14]:
contest_results = pd.Series(data= [10,5,100,10], index=["Atil","James","Lars","Edip"])

In [15]:
contest_results2 = pd.Series(data= [20,50,10,0], index=["Atil","James","Lars","Edip"])

In [16]:
contest_results

Atil      10
James      5
Lars     100
Edip      10
dtype: int64

In [17]:
contest_results["Atil"]

np.int64(10)

In [18]:
contest_results["James"]

np.int64(5)

In [19]:
final_result = contest_results + contest_results2

In [20]:
final_result

Atil      30
James     55
Lars     110
Edip      10
dtype: int64

In [21]:
contest_results * contest_results2

Atil      200
James     250
Lars     1000
Edip        0
dtype: int64

In [22]:
contest_results / contest_results2

Atil      0.5
James     0.1
Lars     10.0
Edip      inf
dtype: float64

In [23]:
different_Series = pd.Series(data=[20,30,40,50],index=["a","b","c","d"])

In [24]:
type(different_Series)

pandas.core.series.Series

In [25]:
different_Series2 = pd.Series(data=[20,30,40,50],index=["a","c","f","g"])

In [26]:
different_Series2

a    20
c    30
f    40
g    50
dtype: int64

In [27]:
different_Series+different_Series2 # b yi bulamadı non yaptı index sırası toplamad çıkarmada önemli değil

a    40.0
b     NaN
c    70.0
d     NaN
f     NaN
g     NaN
dtype: float64

In [28]:
#DataFrame içerisinde bunların çok dahaa karmaşıkları söz konusu

In [29]:
data = np.random.randn(4,3) # Random şekilde data oluşturmaya yaramaktadır

In [30]:
data

array([[-0.15685363, -0.53551589, -0.25740033],
       [-0.31428285,  0.75103542,  0.98593203],
       [ 0.11992776, -1.43747844,  1.39730757],
       [ 0.26191707, -1.24474083,  0.99793182]])

In [31]:
dataFrame = pd.DataFrame(data)

In [32]:
dataFrame # Excel gibi düzenledi serilerin birleşimidir

          0         1         2
0 -0.156854 -0.535516 -0.257400
1 -0.314283  0.751035  0.985932
2  0.119928 -1.437478  1.397308
3  0.261917 -1.244741  0.997932

In [33]:
type(dataFrame)

pandas.core.frame.DataFrame

In [34]:
dataFrame[0]
print(type(dataFrame))

<class 'pandas.core.frame.DataFrame'>

In [35]:
new_df = pd.DataFrame(data,index=["Edip","Mangtay","Software","Yiğit"], columns=["Maaş","Yaş","Senioraty"])

In [36]:
new_df

              Maaş       Yaş  Senioraty
Edip     -0.156854 -0.535516  -0.257400
Mangtay  -0.314283  0.751035   0.985932
Software  0.119928 -1.437478   1.397308
Yiğit     0.261917 -1.244741   0.997932

In [37]:
new_df["Maaş"] # isimlerle stünlara erişim mümkün

Edip       -0.156854
Mangtay    -0.314283
Software    0.119928
Yiğit       0.261917
Name: Maaş, dtype: float64

In [38]:
new_df["Yaş"] # isimlerle stünlara erişim mümkün

Edip       -0.535516
Mangtay     0.751035
Software   -1.437478
Yiğit      -1.244741
Name: Yaş, dtype: float64

In [39]:
new_df[["Maaş","Senioraty"]]

              Maaş  Senioraty
Edip     -0.156854  -0.257400
Mangtay  -0.314283   0.985932
Software  0.119928   1.397308
Yiğit     0.261917   0.997932

In [40]:
new_df.loc["Edip"] # bu kısımdan da rowlara yani satırlara erişim mümkündür

Maaş        -0.156854
Yaş         -0.535516
Senioraty   -0.257400
Name: Edip, dtype: float64

In [41]:
new_df.iloc[0] # bu da index 0 olan rowu getir anlamına gelmektedir

Maaş        -0.156854
Yaş         -0.535516
Senioraty   -0.257400
Name: Edip, dtype: float64

In [42]:
new_df.iloc[2]

Maaş         0.119928
Yaş         -1.437478
Senioraty    1.397308
Name: Software, dtype: float64

In [43]:
new_df

              Maaş       Yaş  Senioraty
Edip     -0.156854 -0.535516  -0.257400
Mangtay  -0.314283  0.751035   0.985932
Software  0.119928 -1.437478   1.397308
Yiğit     0.261917 -1.244741   0.997932

In [44]:
new_df.iloc[:,2]

Edip       -0.257400
Mangtay     0.985932
Software    1.397308
Yiğit       0.997932
Name: Senioraty, dtype: float64

In [45]:
new_df["Extra"] = 10

In [46]:
new_df

              Maaş       Yaş  Senioraty  Extra
Edip     -0.156854 -0.535516  -0.257400     10
Mangtay  -0.314283  0.751035   0.985932     10
Software  0.119928 -1.437478   1.397308     10
Yiğit     0.261917 -1.244741   0.997932     10

In [47]:
new_df.drop("Extra",axis=1) # burada axis 1 demek kolonlar 0 rowlar anlamına gelmektedir

              Maaş       Yaş  Senioraty
Edip     -0.156854 -0.535516  -0.257400
Mangtay  -0.314283  0.751035   0.985932
Software  0.119928 -1.437478   1.397308
Yiğit     0.261917 -1.244741   0.997932

In [48]:
new_df.drop("Extra",axis=1,inplace=True)

In [49]:
new_df

              Maaş       Yaş  Senioraty
Edip     -0.156854 -0.535516  -0.257400
Mangtay  -0.314283  0.751035   0.985932
Software  0.119928 -1.437478   1.397308
Yiğit     0.261917 -1.244741   0.997932

In [50]:
new_df["Mangtay"] = 10

In [51]:
new_df

              Maaş       Yaş  Senioraty  Mangtay
Edip     -0.156854 -0.535516  -0.257400       10
Mangtay  -0.314283  0.751035   0.985932       10
Software  0.119928 -1.437478   1.397308       10
Yiğit     0.261917 -1.244741   0.997932       10

In [52]:
new_df.drop("Mangtay") # burada default olarak row silindir çünkü fonksiyon tanımında axis  = 0

              Maaş       Yaş  Senioraty  Mangtay
Edip     -0.156854 -0.535516  -0.257400       10
Software  0.119928 -1.437478   1.397308       10
Yiğit     0.261917 -1.244741   0.997932       10

In [53]:
new_df.drop("Mangtay" ,axis =1)

              Maaş       Yaş  Senioraty
Edip     -0.156854 -0.535516  -0.257400
Mangtay  -0.314283  0.751035   0.985932
Software  0.119928 -1.437478   1.397308
Yiğit     0.261917 -1.244741   0.997932

In [54]:

new_df

              Maaş       Yaş  Senioraty  Mangtay
Edip     -0.156854 -0.535516  -0.257400       10
Mangtay  -0.314283  0.751035   0.985932       10
Software  0.119928 -1.437478   1.397308       10
Yiğit     0.261917 -1.244741   0.997932       10

In [55]:
new_df.drop("Deneme",axis=1)

KeyError: "['Deneme'] not found in axis"

In [ ]:
new_df

In [ ]:
new_df.drop(["Edip","Deneme","Mangtay"],axis=1,inplace=True)

In [ ]:
new_df

In [ ]:
new_df.drop("Yiğit",axis=0)

In [ ]:
new_df.loc["Edip"]

In [ ]:
new_df.loc["Edip"]["Maaş"]

In [ ]:
new_df.loc["Edip","Maaş"]

In [ ]:
new_df.loc["Edip","Maaş"] = 10000

In [ ]:
new_df.loc["Edip"]["Maaş"]

In [ ]:
new_df>0

In [ ]:
new_df[new_df>0]

In [ ]:
new_df[new_df["Maaş"]>1]

In [ ]:
new_df

In [56]:
new_df[new_df["Yaş"]>0]

             Maaş       Yaş  Senioraty  Mangtay
Mangtay -0.314283  0.751035   0.985932       10

In [57]:
new_df

              Maaş       Yaş  Senioraty  Mangtay
Edip     -0.156854 -0.535516  -0.257400       10
Mangtay  -0.314283  0.751035   0.985932       10
Software  0.119928 -1.437478   1.397308       10
Yiğit     0.261917 -1.244741   0.997932       10

In [59]:
new_df.reset_index() #indexi ayrı bir column olarka açar ve sıfırdan kendisi dizmeye başlar

      index      Maaş       Yaş  Senioraty  Mangtay
0      Edip -0.156854 -0.535516  -0.257400       10
1   Mangtay -0.314283  0.751035   0.985932       10
2  Software  0.119928 -1.437478   1.397308       10
3     Yiğit  0.261917 -1.244741   0.997932       10

In [61]:
rest_frame =  new_df.reset_index()

In [62]:
rest_frame

      index      Maaş       Yaş  Senioraty  Mangtay
0      Edip -0.156854 -0.535516  -0.257400       10
1   Mangtay -0.314283  0.751035   0.985932       10
2  Software  0.119928 -1.437478   1.397308       10
3     Yiğit  0.261917 -1.244741   0.997932       10

# Burada önemli bir fark var örnek olarak aşağıda kodla vereceğim

In [64]:
new_df.loc["Edip"] # buradan index ile ulaşım yapamıyorum

Maaş         -0.156854
Yaş          -0.535516
Senioraty    -0.257400
Mangtay      10.000000
Name: Edip, dtype: float64

In [70]:

rest_frame.loc[0] # ama buradna index ile gelebilirim

index            Edip
Maaş        -0.156854
Yaş         -0.535516
Senioraty     -0.2574
Mangtay            10
Name: 0, dtype: object

In [71]:
new_indices = ["Ati","Zey","Atl","Meh"]

In [72]:
new_df["NewIndex"] =  new_indices

In [73]:
new_df

              Maaş       Yaş  Senioraty  Mangtay NewIndex
Edip     -0.156854 -0.535516  -0.257400       10      Ati
Mangtay  -0.314283  0.751035   0.985932       10      Zey
Software  0.119928 -1.437478   1.397308       10      Atl
Yiğit     0.261917 -1.244741   0.997932       10      Meh

In [74]:
new_df.set_index("NewIndex",inplace=True)

In [76]:
new_df # burada indexi değiştirdim

              Maaş       Yaş  Senioraty  Mangtay
NewIndex
Ati      -0.156854 -0.535516  -0.257400       10
Zey      -0.314283  0.751035   0.985932       10
Atl       0.119928 -1.437478   1.397308       10
Meh       0.261917 -1.244741   0.997932       10

In [78]:
new_df.loc["Ati"]

Maaş         -0.156854
Yaş          -0.535516
Senioraty    -0.257400
Mangtay      10.000000
Name: Ati, dtype: float64

In [80]:
new_df.loc["Ati"]

Maaş         -0.156854
Yaş          -0.535516
Senioraty    -0.257400
Mangtay      10.000000
Name: Ati, dtype: float64

In [81]:
#Multi index nedir  ?

In [82]:
first_index = ["Simson","Simson","Simson","Shouth Park","Shouth Park","Shouth Park"]

In [83]:
inner_index = ["Homer","Bart","Marge","Cartman","Kenny","Kyle"]

In [85]:
zipped_index = list(zip(first_index,inner_index))

In [86]:
zipped_index

[('Simson', 'Homer'),
 ('Simson', 'Bart'),
 ('Simson', 'Marge'),
 ('Shouth Park', 'Cartman'),
 ('Shouth Park', 'Kenny'),
 ('Shouth Park', 'Kyle')]

In [87]:
#Bunlardan dataframe olulturmak için yapılcakalr

In [89]:
zipped_index = pd.MultiIndex.from_tuples(zipped_index)

In [90]:
zipped_index

MultiIndex([(     'Simson',   'Homer'),
            (     'Simson',    'Bart'),
            (     'Simson',   'Marge'),
            ('Shouth Park', 'Cartman'),
            ('Shouth Park',   'Kenny'),
            ('Shouth Park',    'Kyle')],
           )

In [91]:
sample_values = np.ones((6,2))

In [92]:
big_df = pd.DataFrame(sample_values,index=zipped_index,columns=["Ages","Salary"])

In [93]:
big_df

                     Ages  Salary
Simson      Homer     1.0     1.0
            Bart      1.0     1.0
            Marge     1.0     1.0
Shouth Park Cartman   1.0     1.0
            Kenny     1.0     1.0
            Kyle      1.0     1.0

In [94]:
big_df["Ages"]

Simson       Homer      1.0
             Bart       1.0
             Marge      1.0
Shouth Park  Cartman    1.0
             Kenny      1.0
             Kyle       1.0
Name: Ages, dtype: float64

In [96]:
big_df.loc["Hommer"] # getirmiyor

KeyError: 'Hommer'

In [98]:
big_df.loc["Simson"].loc["Homer"] #dıştan içeri girmem gerekmekte

Ages      1.0
Salary    1.0
Name: Homer, dtype: float64